@font-face {
    font-family: 'PTSans';
    src: url(/fonts/PT_Sans/PT_Sans-Web-Bold.ttf);
    src: url(/fonts/PT_Sans/PT_Sans-Web-BoldItalic.ttf);
    src: url(/fonts/PT_Sans/PT_Sans-Web-Italic.ttf);
    src: url(/fonts/PT_Sans/PT_Sans-Web-Regular.ttf);
}

@font-face {
    font-family: 'Cuprum';
    src: url(/fonts/Cuprum/Cuprum-Bold.ttf);
    src: url(/fonts/Cuprum/Cuprum-BoldItalic.ttf);
    src: url(/fonts/Cuprum/Cuprum-Italic.ttf);
    src: url(/fonts/Cuprum/Cuprum-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'PTSans', Arial, sans-serif;
    font-size: 13px;
    line-height: 37px;
    font-weight: normal;
    color: #000000;

    background-color: #ffffff;
}

/*Оформление текста*/
a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    clip: rect(0 0 0 0);
    overflow: hidden;
}

.complete-unavailability {
  display: none;
}

header {
    margin: 0;
    padding: 0;
    background-color: #f4f7f9;
}

.index-page-h1 {
    font-family: 'Cuprum', sans-serif;
    width: 196px;
    height: 60px;
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    line-height: 1.44;
    color: #ee3643;
}

.top-section {
    font-family: 'Cuprum', sans-serif;
    color: #ffffff;
    background-color: #293449;
    font-size: 17px;
}

.top-section a {
    font-family: 'Cuprum', sans-serif;
    color: #ffffff;
}

.address-top {
    font-family: 'Cuprum', sans-serif;
    width: 250px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.71;
    text-align: center;
    color: #32425c;
}

.address-top .phone {
    font-family: 'Cuprum', sans-serif;
    width: 144px;
    height: 21px;
    font-size: 21px;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    color: #ee3643;
}

.user-menu li {
    list-style-type: none;
}

.user-menu a {
    font-family: 'Cuprum', sans-serif;
    font-size: 21px;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    color: #000000;
    list-style-type: none;
}

.main-menu {
    font-family: 'Cuprum', sans-serif;
    color: #ffffff;
    background-color: #293449;
    font-size: 17px;
}

.main-menu li {
    list-style-type: none;
}

.main-menu a {
    font-family: 'Cuprum', sans-serif;
    color: #ffffff;
    background-color: #293449;
    font-size: 17px;
}

.offers div {
    font-family: 'Cuprum', sans-serif;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.25;
    color: #ffffff;
    background-color: #ffbf47;
}

.offers .feature {
    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.29;
    color: #ffffff;
    text-transform: uppercase;
}

.slider p {
    font-family: 'Cuprum', sans-serif;
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    line-height: 1;
    color: #ffffff;
    text-transform: uppercase;
}

.slider .feature {
    font-family: 'Cuprum', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.33;
    color: #ffffff;
    text-transform: none;
}

.slider a {
    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.29;
    color: #ffffff;
}

.popular-products h2 {
    font-family: 'Cuprum', sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    color: #32425c;
    text-transform: uppercase;
}

.popular-products > a {
    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.29;
    color: #ffffff;
    background-color: #ee3643;
    text-transform: uppercase;
}

.popular-products li, .products{
    list-style-type: none;
}

.card h3 {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.11;
    color: #000000;
}

.card p {
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.06;
    text-align: center;
    color: #ffffff;
}

.card .price {
    background-color: #ee3643;
}

.card .old-price {
    text-decoration: line-through;
    color: #a9a9a9;
}

.card .add-to-cart {
    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.29;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #63a63e;
}

 .card .add-to-favorites {
     font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.29;
    text-align: center;
    color: #32425c;
    text-transform: uppercase;
}

.popular-manufacturers h2 {
    font-family: 'Cuprum', sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    color: #32425c;
    text-transform: uppercase;
}

.popular-manufacturers > a {
    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.29;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #ee3643;
}

.popular-manufacturers li {
    list-style-type: none;
}

.services {
    background-color: #f4f7f9;
}

.services h2 {
    font-family: 'Cuprum', sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    color: #000000;
    text-transform: uppercase;
}

.services h3 {
    font-family: 'Cuprum', sans-serif;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    color: #32425c;
}

.services p {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.85;
    color: #000000;
}

.services li a {
    font-family: 'Cuprum', sans-serif;
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.43;
    color: #32425c;
}

.about-company h2 {
    font-family: 'Cuprum', sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    color: #000000;
    text-transform: uppercase;
}

.about-company p {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.85;
    color: #000000;
}

.about-company li{
    font-family: 'Cuprum', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.11;
    color: #000000;
}

.about-company > a {
    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.29;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #ee3643;
}

.contacts h2 {
    font-family: 'Cuprum', sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    color: #000000;
    text-transform: uppercase;
}

.contacts p {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.85;
    color: #000000;
}

.contacts a {
    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.29;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #ee3643;
}

.top-footer {
    background-color: #32425c;
}

.bottom-footer {
    background-color: #293449;
}

.category-menu a {
    font-family: 'Cuprum', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.33;
    color: #ffd180;
}

.address-bottom p {
    font-family: 'Cuprum', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.33;
    color: #f3f7f9;
}

.copyright-section p {
    font-family: 'Cuprum', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.13;
    color: #ffffff;
}

.feedback p, .developer p {
    font-family: 'Cuprum', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.13;
    color: #ffd180;
}

.feedback a, .developer a {
    color: #ffffff;
}

.catalog-main h1 {
    font-family: 'Cuprum', sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    color: #32425c;
    text-transform: uppercase;
    background-color: #f2f6f8;
}

.breadcrumb, .breadcrumb a {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.38;
    color: #000000;
    text-transform: uppercase;
}

.category-selection {
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.33;
    color: #000000;
    text-transform: uppercase;
}

.category-selection legend {
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.76;
    color: #000000;
    text-transform: uppercase;
}

.show-products {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.38;
    text-align: center;
    color: #000000;
    text-transform: uppercase;

    width: 140px;
    height: 38px;
    border: solid 1px #e5e5e5;
    background-color: #ffffff;
}

.category-selection .pagination li {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.38;
    text-align: center;
    color: #000000;
    list-style-type: none;
}

.a-few-words-about-perforators {
    background-color: #f4f7f9;
}

.a-few-words-about-perforators h2 {
    font-family: 'Cuprum', sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    color: #32425c;
    text-transform: uppercase;
}

.a-few-words-about-perforators p {
    font-size: 13px;
    line-height: 1.85;
    color: #000000;
}

/* ----- Сеточные стили ----- */

.main-header {
    margin: 0;
    margin-bottom: 23px;
    padding: 0;
}

.top-section {
    padding: 0;
    margin: 0;
    height: 42px;
}

.top-section .logo {
    display: inline-block;
    height: 42px;
    width: 220px;
    margin-left: 130px;
    text-align: center;
    background-color: red;
    padding-top: 5px;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}


.top-section .search-form {
    display: inline-block;
    margin-left: 49px;
    width: 211px;
}

.top-section .favorites {
    margin-left: 54px;
}

.top-section .cart {
    margin-left: 78px;
}

.top-section .create-order {
    display: inline-block;
    height: 37px;
    width: 150px;
    margin-left: 31px;
    background-color: #63a63e;
    text-align: center;
}
