/* pt-sans-regular - cyrillic_latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-sans-v11-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('PT Sans'), local('PTSans-Regular'),
  url('../fonts/pt-sans-v11-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/pt-sans-v11-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/pt-sans-v11-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/pt-sans-v11-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/pt-sans-v11-cyrillic_latin-regular.svg#PTSans') format('svg'); /* Legacy iOS */
}
/* pt-sans-700 - cyrillic_latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/pt-sans-v11-cyrillic_latin-700.eot'); /* IE9 Compat Modes */
  src: local('PT Sans Bold'), local('PTSans-Bold'),
  url('../fonts/pt-sans-v11-cyrillic_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/pt-sans-v11-cyrillic_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/pt-sans-v11-cyrillic_latin-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/pt-sans-v11-cyrillic_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/pt-sans-v11-cyrillic_latin-700.svg#PTSans') format('svg'); /* Legacy iOS */
}
/* pt-sans-700italic - cyrillic_latin */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/pt-sans-v11-cyrillic_latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'),
  url('../fonts/pt-sans-v11-cyrillic_latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/pt-sans-v11-cyrillic_latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/pt-sans-v11-cyrillic_latin-700italic.woff') format('woff'), /* Modern Browsers */
  url('../fonts/pt-sans-v11-cyrillic_latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/pt-sans-v11-cyrillic_latin-700italic.svg#PTSans') format('svg'); /* Legacy iOS */
}
/* pt-sans-italic - cyrillic_latin */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/pt-sans-v11-cyrillic_latin-italic.eot'); /* IE9 Compat Modes */
  src: local('PT Sans Italic'), local('PTSans-Italic'),
  url('../fonts/pt-sans-v11-cyrillic_latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/pt-sans-v11-cyrillic_latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/pt-sans-v11-cyrillic_latin-italic.woff') format('woff'), /* Modern Browsers */
  url('../fonts/pt-sans-v11-cyrillic_latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/pt-sans-v11-cyrillic_latin-italic.svg#PTSans') format('svg'); /* Legacy iOS */
}

/* cuprum-regular - cyrillic_latin */
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/cuprum-v11-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Cuprum Regular'), local('Cuprum-Regular'),
  url('../fonts/cuprum-v11-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/cuprum-v11-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/cuprum-v11-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/cuprum-v11-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/cuprum-v11-cyrillic_latin-regular.svg#Cuprum') format('svg'); /* Legacy iOS */
}
/* cuprum-700 - cyrillic_latin */
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/cuprum-v11-cyrillic_latin-700.eot'); /* IE9 Compat Modes */
  src: local('Cuprum Bold'), local('Cuprum-Bold'),
  url('../fonts/cuprum-v11-cyrillic_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/cuprum-v11-cyrillic_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/cuprum-v11-cyrillic_latin-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/cuprum-v11-cyrillic_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/cuprum-v11-cyrillic_latin-700.svg#Cuprum') format('svg'); /* Legacy iOS */
}
/* cuprum-italic - cyrillic_latin */
@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/cuprum-v11-cyrillic_latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Cuprum Italic'), local('Cuprum-Italic'),
  url('../fonts/cuprum-v11-cyrillic_latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/cuprum-v11-cyrillic_latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/cuprum-v11-cyrillic_latin-italic.woff') format('woff'), /* Modern Browsers */
  url('../fonts/cuprum-v11-cyrillic_latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/cuprum-v11-cyrillic_latin-italic.svg#Cuprum') format('svg'); /* Legacy iOS */
}
/* cuprum-700italic - cyrillic_latin */
@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/cuprum-v11-cyrillic_latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Cuprum Bold Italic'), local('Cuprum-BoldItalic'),
  url('../fonts/cuprum-v11-cyrillic_latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/cuprum-v11-cyrillic_latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/cuprum-v11-cyrillic_latin-700italic.woff') format('woff'), /* Modern Browsers */
  url('../fonts/cuprum-v11-cyrillic_latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/cuprum-v11-cyrillic_latin-700italic.svg#Cuprum') format('svg'); /* Legacy iOS */
}

/*common styles*/

html {
  box-sizing: border-box;
}
*, *::after, *::before {
  box-sizing: inherit;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
    color: #000000;

    background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    clip: rect(0 0 0 0);
    overflow: hidden;
}

.complete-unavailability {
  display: none;
}

header {
    margin: 0;
    padding: 0;
    background-color: #f4f7f9;
}

.button {
  font-family: 'PT Sans', sans-serif;
  background-color: #ee3643;
  text-decoration: none;
  color: black;
}

.button:hover {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

/* ----- Сеточные стили ----- */

/* page-header */

.page-header {
  margin: 0;
  padding: 0;
  min-height: 321px;
}

/* page-header__top-section */

.page-header__top-section {
   font-family: 'Cuprum', sans-serif;
   color: #ffffff;
   background-color: #293449;
   font-size: 17px;
   display: flex;
}

.page-header__top-section__container {
  display: flex;
}

.page-header__logo {
  width: 220px;
  height: 35px;
  text-align: center;
  background-color: red;
  padding-top: 13px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  margin-bottom: -4px;
  padding-bottom: 34px;
}


.page-header__search-form {
  display: flex;
  margin-left: 7px;
}

.page-header__search-svg-element {
  position: absolute;
  margin: 13px 0 0 10px;
}

.page-header__search-form-label {
  padding-top: 9px;
  margin-left: 42px;
}

.page-header__favorites {
  margin-left: 197px;
}

.page-header__favorites-svg-element-wrap {
  padding-top: 2px;
}

.page-header__favorites-text-content {
  margin: 0;
  margin-left: 13px;
}

.page-header__favorites-svg {

}

.page-header__cart {
  padding: 9px 25px 9px 23px;
  margin-left: 28px;
}

.page-header__cart--filled {
  background-color: #ee3643;
}

.page-header__cart-svg-element {
  position: absolute;
  margin: 4px 0 0 -5px;
}

.page-header__cart-text-content {
  margin: 0;
  margin-left: 26px;
}

.page-header__create-order {
  background-color: #63a63e;
  text-align: center;
  padding-top: 10px;
  padding-right: 21px;
  padding-left: 21px;
}

.page-header__link {
  font-family: 'Cuprum', sans-serif;
  color: #ffffff;
  display: flex;
  padding-top: 9px;
}

/*page-header__page-header__top-sectionction*/

.page-header__middle-section {
  font-family: 'Cuprum', sans-serif;
  margin-top: 46px;
}

.page-header__middle-section__container {
  display: flex;
}

.page-header__tagline {
  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  line-height: 1.44;
  color: #ee3643;
  margin: 0;
  margin-top: 3px;
  margin-left: 52px;
  flex: 0 0 200px;
 }

.page-header__phone {
  margin-left: 5px;
  color: #ee3643;
}

.page-header__address-top {
  font-family: 'Cuprum', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.71;
  text-align: center;
  color: #32425c;
  margin-left: 46px;
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex: 0 0 300px;
}

.page-header__phone-wrap {
  font-family: 'Cuprum', sans-serif;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  color: #ee3643;
  border: #ffffff solid 3px;
  display: flex;
  margin-left: 17px;
  padding: 9px 50px 7px 12px;
}

.page-header__phone-text-content {
  margin: 0;
  margin-left: 40px;
}

.page-header__address {
  margin: 0;
  margin-left: 33px;
}

.user-menu-item {
  list-style-type: none;
}

.page-header__enter {
  background-color: #ffffff;
  padding: 12px 26px 12px 15px;
  margin-left: 21px;
  margin-top: 0;
  display: flex;
}

.page-header__enter-svg-element {
  margin-top: 2px;
  margin-left: -1px;
}

.page-header__user-menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  align-items: flex-start;
}

.page-header__user-menu-item-link-enter {
  font-family: 'Cuprum', sans-serif;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  color: #000000;
  list-style-type: none;
  margin-left: 13px;
}

.page-header__registration {
  background-color: #ffffff;
  padding: 13px 25px 7px 24px;
  margin-left: 10px;
  margin-right: -3px;
}

.page-header__user-menu-item-link-registration {
  font-family: 'Cuprum', sans-serif;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  color: #000000;
  list-style-type: none;
}

/* page-header__nav-top */

.main-menu {
  font-family: 'Cuprum', sans-serif;
  color: #ffffff;
  background-color: #32425c;
  font-size: 17px;
  min-width: 940px;
  display: flex;
  height: 60px;
  margin-top: 17px;
  box-shadow: inset 0 -5px 0 0 #293449;
}

.main-menu--catalog {
  margin-top: 14px;
}

.main-menu-item {
  list-style-type: none;
}

.main-menu-item-link {
  display: inline-block;
  font-family: 'Cuprum', sans-serif;
  color: #ffffff;
  background-color: #32425c;
  font-size: 17px;
  width: 100%;
  height: 100%;
  padding-top: 17px;
  box-shadow: inset 0 -5px 0 0 #293449;
}

.main-menu-item-link:hover {
  background-color: #293449;
  box-shadow: none;
}

.main-menu-item-link:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

.main-menu-item-link-main {
  padding: 17px 15px 0 12px;
}

.main-menu-item-link-company {
  padding: 17px 49px 0 49px;
}

.main-menu-item-link-catalog {
  padding: 17px 10px 0 10px;
}

.main-menu-item-link-news {
  padding: 17px 50px 0 50px;
}

.main-menu-item-link-offers {
  padding: 17px 9px 0 9px;
}

.main-menu-item-link-delivery {
  padding: 17px 53px 0 53px;
}

.main-menu-item-link-contacts {
  padding: 17px 10px 0 10px;
}

.page-header__nav-top_container {
  display: flex;
  padding-top: 23px;
}

/* page-footer */

.page-footer {
  min-height: 300px;
}

/* page-footer__top-section */

.page-footer__logo {
  width: 220px;
  height: 35px;
  text-align: center;
  background-color: red;
  padding-top: 20px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  padding-bottom: 48px;
}

.page-footer__main-menu {
  font-family: 'Cuprum', sans-serif;
  color: #ffffff;
  background-color: #32425c;
  font-size: 18px;
  min-width: 940px;
  display: flex;
  height: 60px;
  margin-left: 100px;
  margin-top: 21px;
}

.page-footer__main-menu-item-div {
  font-family: 'Cuprum', sans-serif;
  color: #ffffff;
  background-color: #32425c;
  font-size: 18px;
  width: 100%;
  height: 91%;
  padding-top: 17px;
}

.page-footer__main-menu-item-div-company {
  padding-left: 32px;
}

.page-footer__main-menu-item-div-news {
  padding-left: 59px;
}

.page-footer__main-menu-item-div-catalog {
  padding-left: 59px;
}

.page-footer__main-menu-item-div-delivery {
  padding-left: 61px;
}

.page-footer__main-menu-item-div-contacts {
  padding-left: 59px;
}

.page-footer__top-section {
  background-color: #32425c;
  height: 93px;
}

.page-footer__top-section__container {
  display: flex;
}

.footer-main-menu-item {
  list-style-type: none;
}

.footer-main-menu-link {
  display: inline-block;
  font-family: 'Cuprum', sans-serif;
  color: #ffffff;
  background-color: #32425c;
  font-size: 17px;
  width: 100%;
  height: 100%;
  padding-top: 17px;
}

/* page-footer__middle-section */

.page-footer__middle-section {
  background-color: #32425c;
  padding-bottom: 51px;
}

.page-footer__middle-section__container {
  display: flex;
}

.page-footer__address {
  display: flex;
  flex-wrap: wrap;
  width: 340px;
  padding-top: 3px;
  padding-left: 5px;
}

.page-footer__address-item {
  font-family: 'Cuprum', sans-serif;
  font-size: 18px;
  color: #ffffff;
  font-weight: normal;
  font-style: normal;
  line-height: 1.33;
  margin: 0;
}

.page-footer__phone {
  color: #ffffff;
}

.page-footer__category-menu {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.category-menu-item-link {
  font-family: 'Cuprum', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.33;
  color: #ffd180;
}

.category-menu-item-materials {
  padding-top: 3px;
  padding-left: 36px;
}

.category-menu-item-technics {
  padding-top: 3px;
  padding-left: 60px;
}

.category-menu-item-tools {
  padding-top: 3px;
  padding-left: 59px;
}

.category-menu-item-spec-offers {
  padding-top: 3px;
  padding-left: 59px;
}

/* page-footer__bottom-section */

.page-footer__bottom-section {
  background-color: #293449;
  height: 107px;
}

.page-footer__bottom-section__container {
  display: flex;
}

.page-footer__copyright-section {
  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.13;
  color: #ffffff;
  margin-top: 21px;
  margin-left: 2px;
}

.page-footer__social-networks {
  margin-left: 118px;
  margin-top: 21px;
}

.page-footer__soc-network-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.soc-network-list-item-facebook {
  margin-left: 3px;
}

.soc-network-list-item-instagram {
  margin-left: 3px;
}

.page-footer__soc-network-list-item-wrap {
  background-color: #212a3a;
  width: 42px;
  height: 42px;
  border-radius: 100px;
  display: flex;
}

.soc-network-list-item-vk {
}

.soc-network-list-item-vk-img {
  margin: auto;
}

.page-footer__feedback-par, .page-footer__developer-par {
  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.13;
  color: #ffffff;
}

.page-footer__feedback-link, .page-footer__developer-link {
  color: #ffd180;
}

.page-footer__feedback {
  margin-top: 21px;
  margin-left: 119px;
}

.page-footer__developer {
  margin-top: 21px;
  margin-left: 52px;
}

/* page-main-container */

.page-main {
  margin-top: 59px;
}

/* page-main-container__offers */

.page-main-offers__container {
  display: flex;
  flex-wrap: wrap;
}

.page-main__offer {
  color: #ffffff;
  background-color: #ffbf47;
  width: 300px;
  height: 123px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-right: 50px;
}

.page-main__offer-heading {
  font-family: 'Cuprum', sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.25;
  color: #ffffff;
  margin: 0;
  margin-top: 21px;
  margin-left: 23px;
  padding-right: 50px;
}

.page-main__offer-link {
  min-width: 135px;
  min-height: 38px;
  margin-left: 23px;
  margin-top: -10px;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  border-radius: 3px;
}

.page-main__offer-link-par {
  margin: auto;
}

.page-main-container__offers__offer--materials {
  background: url(../img/materials.png) 213px 31px no-repeat,
              url(../img/new-flag.png) 240px 0 no-repeat;
  background-color: #ffbf47;
}

.page-main-container__offers__offer--tools {
  background: url(../img/tools.png) no-repeat;
  background-position: 196px;
  background-color: #3bbce3;
  margin-left: 20px;
}

.page-main-container__offers__offer--technics {
  background: url(../img/technics.png) no-repeat;
  background-position: 190px;
  background-color: #dc91d8;
  margin-left: 20px;
}

.page-main-container__offers__offer--discounts {
  background: url(../img/discounts.png) no-repeat;
  background-position: 196px;
  background-color: #8ed78f;
  margin-left: 20px;
  margin-top: 20px;
}

.page-main-container__offers__offer--delivery {
  background: url(../img/delivery.png) no-repeat;
  background-position: 190px;
  background-color: #ffc047;
  margin-left: 20px;
  margin-top: 20px;
}

.page-main__offers .feature {
  font-family: 'Cuprum', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.29;
  color: #ffffff;
  text-transform: uppercase;
}

.flex-offers-wrap {
  order: 1;
}

/* page-main-container__offers */

.page-main-slider {
  background: url(../img/drills.png) no-repeat;
  height: 266px;
  width: 620px;
  color: #ffffff;
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.page-main-slider__slide {
  height: 100%;
  width: 100%;
}

.page-main-slider__drills-heading {
  text-transform: uppercase;
  font-family: 'Cuprum', sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
  display: block;
  margin: 0;
  padding-top: 23px;
  padding-left: 24px;
}

.page-main-slider__drills-par {
  font-family: 'Cuprum', sans-serif;
  font-size: 18px;
  line-height: 1.33;
  color: #ffffff;
  display: block;
  margin: 0;
  padding-top: 2px;
  padding-left: 25px;
}

.page-main-slider__open-catalog-button {
  display: block;
  font-family: 'Cuprum', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.29;
  color: #ffffff;
  text-transform: uppercase;
  padding: 11px 45px 9px 50px;
  border-radius: 3px;
  width: 195px;
  position: absolute;
  margin-top: 122px;
  margin-left: 25px;
}

.page-main-slider__left-arrow-button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  position: absolute;
  margin-top: 114px;
  margin-left: 25px;
  cursor: pointer;
}

.page-main-slider__right-arrow-button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  position: absolute;
  margin-top: 114px;
  margin-left: 578px;
  cursor: pointer;
}

/* .slider-radio-button */

.slider-radio-button-label {
  position: absolute;

  display: block;

  cursor: pointer;
  user-select: none;
}

.page-main-slider__first-slide-radio-label {
  margin-left: 294px;
  margin-top: 218px;
}

.page-main-slider__second-slide-radio-label {
  margin-left: 314px;
  margin-top: 218px;
}

.slider-radio-button:hover + .slider-radio-button-label,
.slider-radio-button:focus + .slider-radio-button-label {
  color: #663d15;
}

.slider-radio-button + .slider-radio-button-label::before {
  content: "";
  position: absolute;

  top: 2px;
  left: 1px;

  width: 10px;
  height: 10px;

  border-radius: 50%;

  background-color: white;
}

.slider-radio-button:checked + .slider-radio-button-label::after {
  content: "";

  position: absolute;

  top: 4px;
  left: 3px;

  width: 12px;
  height: 12px;

  background-image: url("../img/slider-radiobutton.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/**/

.page-main-slider .feature {
  font-family: 'Cuprum', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.33;
  color: #ffffff;
  text-transform: none;
}

/*page-main-container__popular*/
.page-main__popular-products__header {
  background-color: #f9f5f0;
  height: 89px;
  margin-top: 53px;
  display: flex;
  align-items: flex-start;
}

/*page-main-container__popular-products__header*/

.page-main__heading {
  font-family: 'Cuprum', sans-serif;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  color: #32425c;
  text-transform: uppercase;
  margin: 29px 0 0 28px;
}

.page-main__heading-block-button {
  position: absolute;
  display: block;
  font-family: 'Cuprum', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.29;
  color: #ffffff;
  text-transform: uppercase;
  padding: 11px 55px 9px 55px;
  border-radius: 3px;
  margin-top: 25px;
  margin-left: 663px;
}

/*page-main-container__popular-products__main*/

.page-main__popular-products__main {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 21px;
}

.page-main__popular-products__card {
  list-style-type: none;
  height: 318px;
  width: 220px;
  margin-right: 12px;
  border: solid 1px #eaeaea;
  display: flex;
  align-items: flex-start;
}

.page-main__popular-products__card:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.page-main__popular-products__card:hover .popular-products__product-img {
  display: none;
}

.page-main__popular-products__card:hover .popular-products__product-add-to-cart {
  display: block;
}

.page-main__popular-products__card:hover .popular-products__product-add-to-favorites {
  display: block;
}

.page-main__popular-products__card:last-child {
  margin-right: 0;
}

.popular-products__product-heading {
  position: absolute;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  margin: 179px 0 0 30px;
  width: 157px;
  text-align: center;
  line-height: 1.11;
  color: #000000;
}

.popular-products__product-price {
  position: absolute;
  display: block;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.06;
  color: #ffffff;
  background: url(../img/item-button.svg) no-repeat;
  min-height: 38px;
  min-width: 141px;
  margin: 257px 0 0 42px;
  padding: 10px 5px 5px 35px;
}

.popular-products__product-old-price {
  text-decoration: line-through;
  width: 67px;
  height: 12px;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.06;
  letter-spacing: normal;
  text-align: center;
  color: #999999;
  position: absolute;
  margin: 229px 0 0 76px;
}

.popular-products__product-add-to-cart {
  font-family: 'Cuprum', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.29;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #63a63e;
  position: absolute;
  margin: 42px 0 0 41px;
  padding: 11px 45px 6px 49px;
  border-radius: 3px;
  border-bottom: 3px solid #367315;
  display: none;
}

.popular-products__product-add-to-cart-svg {
  position: absolute;
  margin: 0 0 0 -35px;
  opacity: 0.3;
}

.popular-products__product-add-to-cart:hover {
  background-color: #5fbb2d;
}

.popular-products__product-add-to-cart:active {
  background-color: #518534;
}

.popular-products__product-add-to-cart:hover .popular-products__product-add-to-cart-svg {
  opacity: 1;
}

.popular-products__product-add-to-favorites {
  font-family: 'Cuprum', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.29;
  text-align: center;
  color: #32425c;
  text-transform: uppercase;
  position: absolute;
  margin: 88px 0px 0 41px;
  padding: 8px 29px 6px 33px;
  border: 3px solid #63a63e;
  border-radius: 3px;
  display: none;
}

.popular-products__product-add-to-favorites:hover {
  border: 3px solid #32425c;
}

.popular-products__product-add-to-favorites:active {
  opacity: 0.3;
}

/*page-main-container__popular-manufacturers*/

.page-main__popular-manufacturers {
  margin-top: 21px;
}

.page-main__popular-manufacturers__header {
  background-color: #f9f5f0;
  height: 89px;
  display: flex;
  align-items: flex-start;
}

.page-main__popular-manufacturers__main {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 18px;
}

.page-main__popular-manufacturers__card {
  list-style-type: none;
  height: 145px;
  width: 220px;
  margin-right: 13px;
  margin-bottom: 20px;
  border: solid 1px #eaeaea;
  display: flex;
}

.page-main__popular-manufacturers__card:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.page-main__popular-manufacturers__card:active {
  opacity: 0.3;
}

.page-main__popular-manufacturers__card-link {
  margin: auto;
}

.page-main__popular-manufacturers__img {
  margin: auto;
}

.page-main__heading-manufacturers-button {
  padding: 10px 69px 10px 69px;
  margin-top: 24px;
}

.page-main__popular-manufacturers__card {
  list-style-type: none;
}

/* services */

.page-main__services {
  background-color: #f4f7f9;
  margin-top: 66px;
  min-height: 522px;
}

.services__container {
  min-height: 522px;
  padding-top: 65px;
}

.services__list--detail {
  width: 627px;
}

.services__heading {
  font-family: 'Cuprum', sans-serif;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 0 0;
}

.services__par {
  font-size: 13px;
  line-height: 1.85;
  color: #000000;
  margin: 26px 0 0 0;
  min-width: 398px;
}

.services__list--short {
  display: inline-block;
  list-style-type: none;
  padding: 69px 0 0 0;
  margin: 0;
  min-height: 279px;
}

.services__link-item {
  min-width: 240px;
  background-color: #32425c;
}

.services-list-background-pic {
  position: absolute;
  background: url(../img/shadow.png) no-repeat;
  z-index: 1;
  height: 279px;
  width: 10px;
  margin: -47px 0 0 230px;
}

.services__list--detail {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
}

.service__heading {
  font-family: 'Cuprum', sans-serif;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  color: #32425c;
  text-transform: uppercase;
  margin: 67px 0 0 78px;
}

.service__par {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.85;
  color: #000000;
  margin: 25px 0 0 78px;
}

.credit__link {
  display: inline-block;
  font-family: 'Cuprum', sans-serif;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: normal;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 3px;
  padding: 11px 44px 9px 45px;
  margin: 26px 0px 0px 77px;
}

.delivery-pic {
  display: inline-block;
  position: absolute;
  padding-bottom: 0;
  margin: -132px 0 0 228px;
}

.guarantee-pic {
  display: inline-block;
  position: absolute;
  padding-bottom: 0;
  margin: -178px 0 0 316px;
}

.credit-pic {
  display: inline-block;
  position: absolute;
  padding-bottom: 0;
  margin: -108px 0 0 -30px;
}

.services__link {
  font-family: 'Cuprum', sans-serif;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.43;
  color: #ffffff;
  display: block;
  padding: 14px 0 16px 23px;
  cursor: pointer;
  border-top: 1px solid #3E4F69;
  border-bottom: 1px solid #273348;
}

.service__link {
  font-family: 'Cuprum', sans-serif;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.43;
  color: #32425c;
}

.slider-controls label {
  display: block;
  cursor: pointer;
}

.service {
  display: none;
}

#product-1:checked ~ .services__list--detail #slide1,
#product-2:checked ~ .services__list--detail #slide2,
#product-3:checked ~ .services__list--detail #slide3 {
  display: block;
}

#product-1:checked ~ .services__list--short .services__link[for='product-1'],
#product-2:checked ~ .services__list--short .services__link[for='product-2'],
#product-3:checked ~ .services__list--short .services__link[for='product-3'] {
  background-color: #ffffff;
  color: #32425c;
  border: 0;
}


/* about-company-wrap */

.page-main__about-company {
  display: flex;
  min-height: 536px;
}

.about-company__company-info {
  display: inline-block;
  max-width: 512px;
}

.about-company__contacts {
  display: inline-block;
  vertical-align: top;
  max-width: 423px;
}

.company-info__heading {
  font-family: 'Cuprum', sans-serif;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  color: #000000;
  text-transform: uppercase;
  margin: 79px 0 0 1px;
}

.company-info__par {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.85;
  color: #000000;
  margin: 25px 0 0 1px;
}

.company-info__menu-list {
  list-style-type: none;
  margin: 21px 0 0 0;
  padding: 0;
}

.company-info__list-item {
  font-family: 'Cuprum', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.11;
  color: #000000;
  margin: 0 0 21px 0;
}

.company-info__list-item::before {
  content: '';
  display: inline-block;
  height: 2px;
  width: 25px;
  background-image: url(../img/list-bullet.png);
  margin: 0px 12px 4px 0px;
}

.company-info__button-more-info {
  display: inline-block;
  font-family: 'Cuprum', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.29;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 3px;
  padding: 11px 40px 9px 41px;
  margin: 16px 0 0 0;
}

.contacts__heading {
  font-family: 'Cuprum', sans-serif;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  color: #000000;
  text-transform: uppercase;
  margin: 79px 0 0 123px;
}

.contacts__par {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.85;
  color: #000000;
  margin: 26px 0 0 123px;
}

.contacts__yandex-map {
  margin: 32px 0 0 123px;
}

.contacts__feedback-button {
  display: inline-block;
  font-family: 'Cuprum', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.29;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 3px;
  margin: 32px 0px 0px 123px;
  padding: 10px 59px 9px 64px;
}

/* Страница каталога */

.page-header__user-menu {
  list-style-type: none;
}

/*user-menu*/

.user-menu__user-item {
  margin-top: 12px;
}

.user-menu__user-link {
  font-family: 'Cuprum', sans-serif;
  font-size: 21px;
  line-height: 1;
  padding: 12px 21px 11px 47px;
  background-color: #ffffff;
  margin-left: 3px;
  color: #000000;
}

.user-menu__user-link:hover {
  color: #ee3643;
}

.user-menu__user-link:active {
  color: #000000;
  opacity: 0.3;
}

.user-menu__user-link:hover .user-menu__user-link-svg {
  opacity: 1;
}

.user-menu__user-link:active .user-menu__user-link-svg {
  opacity: 0.3;
}

.user-menu__user-link-svg {
  position: absolute;
  margin: 1px 0 0 -34px;
  opacity: 0.3;
}

.user-menu__logout-link {
  padding: 5px 12px 25px 33px;
  background-color: #ffffff;
}

.user-menu__logout-link-svg {
  position: absolute;
  margin: 14px 0 0 -18px;
}

.user-menu__my-orders-link {
  width: 75px;
  height: 14px;
  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #32425c;
  text-decoration: underline;
}

.user-menu__personal-area-link {
  width: 75px;
  height: 14px;
  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #32425c;
  text-decoration: underline;
  margin-left: 15px;
}

.user-menu__personal-area-link-svg {
  position: absolute;
  margin: 9px 0 0 -17px;
}

.user-menu__item-my-orders {
  margin: 14px 0 0 21px;
}

.user-menu__item-personal-area {
  margin: 14px 0 0 17px;
}

/*catalog-main__breadcrumb*/

.catalog-main__breadcrumb {
  display: flex;
  margin: 22px 0 0 0;
  padding: 0;
}

.breadcrumb__breadcrumb-item {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.38;
  color: #000000;
  text-transform: uppercase;
  list-style-type: none;
}

.breadcrumb__breadcrumb-item-home {
  margin-left: -2px;
  margin-right: 2px;
}

.breadcrumb__breadcrumb-link {
  display: inline-block;
  color: #000000;
  list-style-type: none;
}

.breadcrumb-link-catalog {
  margin-left: 13px;
}

.breadcrumb-link-catalog-svg {
  margin-right: 19px;
}

.breadcrumb-link-tools {
  margin-left: 17px;
}

.breadcrumb-link-tools-svg {
  margin-right: 15px;
}

.breadcrumb__breadcrumb-item-perforators {
  margin-left: 18px;
}

.breadcrumb-item-perforators-svg {
  margin-right: 17px;
}

/*catalog-main__header-block-perforators*/

.catalog-main__header-block-perforators {
  margin-top: 20px;
}

.catalog-main__heading-perforators {
  margin: 29px 0 0 28px;
  font-family: 'Cuprum', sans-serif;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  color: #32425c;
  text-transform: uppercase;
  background-color: #f2f6f8;
}

.catalog-main__header-perforators-container {
  height: 89px;
  background-color: #f2f6f8;
  padding-top: 1px;
}

/* catalog-main__main-catalog */

.catalog-main__main-catalog {
  display: flex;
}

.main-catalog__heading-filter {
  display: inline-block;
  width: 220px;
  height: 38px;
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  background-color: #f7f3ec;
  margin: 20px 0 5px 0;
  padding: 10px 0 0 19px;
  border-radius: 3px;
  text-transform: uppercase;
}

.category-selection {
  display: inline-block;
}

/*filter-item*/

.range-filter {
  box-sizing: content-box;
  width: 220px;
  margin-top: 14px;
  margin-left: 2px;
}

.range-filter-fieldset {
  border: none;
  margin: 7px 0 0 -2px;
  padding: 0;
}

.filter-item {
  margin: 0;
  padding: 0;

  border: none;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f7f3ec;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 95px;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 7px 17px 9px 19px;
  margin-left: 0;

  font-family: 'PT Sans', sans-serif;
  font-size: 17px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f7f3ec;
}

.price-dash {
  font-size: 17px;
  margin: 0 8px 0 8px;
  display: inline-block;
}

.max-price {
  text-align: right;
}

/*products*/

.products__sort {
  height: 38px;
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  display: flex;
  background-color: #f7f3ec;
  margin: 20px 0 0 20px;
  padding-top: 10px;
  border-radius: 3px;
  text-transform: uppercase;
}

.main-catalog__heading-sort {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin: 0 0 0 19px;
  text-transform: uppercase;
}

.sort-by-price {
  color: #000000;
  margin-left: 140px;
}

.sort-by-type {
  color: #000000;
  margin-left: 70px;
}

.sort-by-functional {
  color: #000000;
  margin-left: 66px;
}

.sort-by-ascending {
  margin-left: 44px;
  margin-top: -1px;
  font-size: 15px;
}

.sort-by-descending {
  margin-left: 17px;
  margin-top: -1px;
  font-size: 15px;
}

.products__products-list {
  margin: 0 -20px 0 12px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

/* sorters */


.sorter-radio-button-label {
  cursor: pointer;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: rgba(238, 54, 67, 1);;
  color: rgba(0, 0, 0, 0.3);
}

.sorter-radio-button:hover + .sorter-radio-button-label,
.sorter-radio-button:focus + .sorter-radio-button-label {
  color: #663d15;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: #ee3643;
  opacity: 1;
}

.sorter-radio-button + .sorter-radio-button-label {
}

.sorter-radio-button:checked + .sorter-radio-button-label {
  color: #ee3643;
  text-decoration: none;
}

/* up-down-sorters */


.up-down-sorter-radio-button-label {
  cursor: pointer;
  color: #c5c5c5;
}

.up-down-sorter-radio-button:hover + .up-down-sorter-radio-button-label,
.up-down-sorter-radio-button:focus + .up-down-sorter-radio-button-label {
  color: #663d15;
  opacity: 1;
}

.up-down-sorter-radio-button + .up-down-sorter-radio-button-label {
}

.up-down-sorter-radio-button:checked + .up-down-sorter-radio-button-label {
  color: #ee3643;
}



/* category-selection */

.divider {
  margin-top: 25px;
  width: 220px;
  height: 1px;
  background-color: #e6e6e6;
}

.catalog-main__producer {
  border: none;
  display: flex;
  margin-top: 17px;
  margin-left: -13px;
}

.catalog-main__power {
  border: none;
  display: flex;
  margin-left: -13px;
}

.category-selection {
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.33;
  color: #000000;
  text-transform: uppercase;
}

.category-selection legend {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.76;
  color: #000000;
  text-transform: uppercase;
}

.show-products {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.38;
  text-align: center;
  color: #000000;
  text-transform: uppercase;

  width: 140px;
  height: 38px;
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
}

.category-selection .pagination li {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.38;
  text-align: center;
  color: #000000;
  list-style-type: none;
}

.bottom-pagination {
  list-style-type: none;
}

.bottom-pagination li {
  width: 38px;
  height: 38px;
  border: solid 1px #e5e5e5;
  background-color: white;
}

.bottom-pagination li a{
  width: 7px;
  height: 9px;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.a-few-words-about-perforators {
  background-color: #f4f7f9;
}

.a-few-words-about-perforators h2 {
  font-family: 'Cuprum', sans-serif;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  color: #32425c;
  text-transform: uppercase;
}

.a-few-words-about-perforators p {
  font-size: 13px;
  line-height: 1.85;
  color: #000000;
}

.category-selection {
}

.card {
  height: 318px;
  width: 220px;
}

.bottom-pagination {
  display: flex;
}


